/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

a {
  color: #00B7FF;
}

button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
}

.icon-button {
  display: inline;
}

.icon-link {
  text-decoration: none;
}


/* ページネーション */
.next.disable,
.prev.disable {
  pointer-events: none;
  background: #ddd;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination p {
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0 5px;
  background: #606060;
  color: #fff
}

.next:hover,
.prev:hover,
.page_counter li:hover {
  cursor: pointer;
}

.page_counter {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0 10px;
}

.page_counter li {
  border: 1px solid #606060;
  padding: 5px 10px;
}

.page_counter li.current {
  background: #606060;
  color: #fff;
}

.page_counter li+li {
  margin-left: 5px;
}
